<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
<meta charset="UTF-8">
<title>test</title>
</head>

<body>
<h2>Kolejka: </h2>
<table style="float: left">
	<tr><th>użytkownicy</th></tr>
	<tr th:each="user : ${users}"><td th:text=${user.username}>nazwa</td></tr>

</table>
<table style="float: left">
	<tr><th>dinners1</th></tr>
	<tr th:each="dinner : ${dinners1}"><td th:text=${dinner.dinnersName}>nazwa</td></tr>

</table>
<table style="float: left">
	<tr><th>dinners2</th></tr>
	<tr th:each="dinner : ${dinners2}"><td th:text=${dinner.dinnersName}>nazwa</td></tr>

</table>
<table style="float: left">
	<tr><th>dinners2</th></tr>
	<tr th:each="dinner : ${allDinners}"><td th:text=${dinner.dinnersName}>nazwa</td></tr>

</table>


</body>
</html>